{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  


<body>

    <div class="register-container justify-content-center align-self-center d-flex h-100">
        <div class = "register">
        
            <h1>Formulir Registrasi</h1>  
            <h3>Daftar sebagai:</h3>
            <a class="" href="{% url 'authentication:register_pasien' %}">Pasien</a>

            <a class="" href="{% url 'authentication:register_dokter' %}">Dokter</a>

        
        </div>  
            
    </div>

    <a class="" href="{% url 'authentication:login' %}">Back</a>

</body>


{% endblock content %}