{% extends 'baseAuth.html' %}

{% load static %}

{% block meta %}
<title>Registrasi Akun</title>
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock meta %}

{% block content %}  


    <div class="register-container justify-content-center align-self-center d-flex h-100">
        <div class = "register">
        
            <h1>Pilih role:</h1>  
            <a class="" href="{% url 'authentication:register_pasien' %}">Pasien</a>

            <a class="" href="{% url 'authentication:register_dokter' %}">Dokter</a>

        
        </div>  
            
    </div>

    <a class="" href="{% url 'authentication:login' %}">Back</a>



{% endblock content %}