{% extends 'base.html' %}

{% load static %}

{% block meta %}
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="{% static 'css/bmi.css' %}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" async src="{% static '/js/bmi.js' %}"></script>
{% endblock meta %}



{% block content %}
    <div class="container p-5">
        <h1>
            <b>
                Selamat datang di Kalkulator BMI, {{user.get_username}}!
            </b>
        </h1>
    </div>

    <div class="container horizontal-container">

      <div class="card text-center">
        <div class="card-header">
          TES
        </div>
        <div class="card-body">
          <div class="container p-5 text-center">
            <form method="POST" class="was-validated" id="form_bmi">
                {% csrf_token %}
          
                <div class=" form-group mb-3 mt-3 text-center">
                  <label for="umur" class="form-label">Umur:</label>
                  {{form_bmi.umur}}
                </div>
                <div class=" form-group mb-3 text-center">
                  <label for="berat" class="form-label">Berat badan (kg):</label>
                  {{form_bmi.berat}}
                </div>
                <div class="form-group mb-3 text-center">
                  <label for="tinggi" class="form-label">Tinggi badan (cm):</label>
                  {{form_bmi.tinggi}}
                </div>
                
                <input type="button" class="btn btn-primary" onclick="addBMI()" value="Cek BMI">
            </form>
         </div>
        </div>
        
        <div class="card-footer text-muted">
          Terakhir dicek tanggal :
        </div>
      </div>
    </div>



    <!-- Button trigger modal -->
<div class="text-center"> 
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLong">
    Lihat Histori BMI
  </button>
</div>


<!-- Modal -->
<div class="modal fade"  id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Histori BMI</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <button onclick="viewBMIHistory()">Lihat histori BMI</button>
        <div id="bmi_history">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    <div id="bmi_result">

    </div>
{% endblock content %}