#logo_home{
    /* HealthBud */

    width: 129px;
    height: 33px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    letter-spacing: 0.03em;

    /* Black */

    color: #f70000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}