{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Pengaturan Akun - HealthBud</title>
<link rel="stylesheet" href="{% static '/css/styles.css' %}">
<script src="https://kit.fontawesome.com/ff49bbe5ae.js" crossorigin="anonymous"></script>
{% endblock meta %}

{% block content %}

<!-- Modal -->
<form id="form-edit-profile" method="POST" enctype="multipart/form-data" class="form-container" onsubmit="return false;">
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Pengaturan Akun</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <p>
                            {{ profile_form.as_p }}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="update-profile" data-dismiss="modal" onclick="">Simpan</button>
                    </div>
            </div>
        </div>
    </div>
</form>

<!-- Profile Card -->
<div class="container-fluid d-flex align-items-center justify-content-center my-4">
    <div class="card p-3 shadow">
        <div class="edit-column ms-auto me-3 mt-3">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal"><i class="fa-solid fa-pen"></i></button>
        </div>
        <div class="card-body" id="profile-card">
        </div>
    </div>
</div>

<!-- Health Record Card -->
<div class="container-fluid d-flex align-items-center justify-content-center my-4">
    <div class="card p-3 shadow" id="record-card">
        <div class="card-body" id="record-card">
            <div id="picdesc-record">
                {% load static %} <img src="{% static '/img/edit_record.svg' %}" alt="" width="300" height="300" class="img-fluid">
                <div>
                    <p class="h7 fw-bolder my-4 me-md-2 text-muted" id="record-desc">Riwayat Kesehatan merupakan fitur yang bertujuan untuk mempermudah Pasien dalam mengelola informasi-informasi terkait kesehatannya dan menunjukkannya pada sesi konsultasi dengan dokter.</p>
                    <button type="button" class="btn btn-primary my-2" onclick="location.href='/pengaturan_akun/med_record'">Lihat Riwayat Kesehatan</button>
                </div> 
            </div>
        </div>
    </div>
</div>

<script>

    async function getProfile() {
        return fetch("{% url 'pengaturan_akun:show_profile_json' %}").then((res) => res.json());
    }

    // AJAX GET
    async function refreshProfile() {
        const profile = await getProfile();
        let htmlStr = "";
        profile.forEach((person) => {
            document.getElementById("update-profile").setAttribute('onclick', `updateProfile(${person.pk})`)

            htmlStr += `\n<div class="avatar-column mx-3">
                {% if user.profile.profile_pic %}
                    <img class="rounded-circle" src="{{user.profile.profile_pic.url}}" alt="" width="80" height="80">
                {% else %}
                    {% load static %} <img class="rounded-circle" src="{% static '/img/default_profile.png' %}" alt="" width="80" height="80" id="profpic">
                {% endif %}
            </div>
            <div class="info-column mx-3 mb-3">
                <div class="row">
                    <p class="h4 card-title my-2 my-md-0">${person.fields.first_name} ${person.fields.last_name}</p>
                    <div class="col-12 col-md-6">
                        <p class="h7 text-muted"><i class="fa-solid fa-user"></i>    {{username}}</p>
                        <p class="h7 text-muted"><i class="fa-solid fa-envelope"></i> ${person.fields.email}</p>
                        <p class="h7 text-muted"><i class="fa-solid fa-calendar-days"></i> ${person.fields.birth_date}</p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="h7 text-muted"><i class="fa-solid fa-circle-user"></i></i> Pasien</p>
                        <p class="h7 text-muted"><i class="fa-solid fa-person-half-dress"></i> ${person.fields.gender}</p>
                        <p class="h7 text-muted"><i class="fa-solid fa-location-dot"></i> ${person.fields.city}, ${person.fields.province}</p>
                    </div>
                </div>
            </div>`
        })
        document.getElementById("profile-card").innerHTML = htmlStr;
        $('#editModal').modal('hide');
    }
    
    // AJAX POST
    function updateProfile(pk) {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch(`/pengaturan_akun/update/${pk}`, {
            method: "POST",
            body: new FormData(document.querySelector('#form-edit-profile')),
            credentials: 'same-origin',
            headers: {
                "X-CSRFToken": `${csrftoken}`
            }
        }).then(refreshProfile);
        return false;
    }

    refreshProfile();

</script>
{% endblock content %}