body{
    background-color : #221C35;
}


.card-body{
    background-color: #4461F2;
    border-radius: 10px;
}

.register-pasien{
    margin:10px 0px 25px 0px;
}

/* .errorlist{
    display:none;
} */

/* .error-msg{
    display: none;
} */